<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:tr="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <!-- default header name is X-CSRF-TOKEN -->
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>치트페이지</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="/../../css/loanAppList/style.css">
  <link rel="stylesheet" href="/../../css/loanAppList/layerpopup.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">

</head>
<body>
<!-- partial:index.partial.html -->
<!--<form class="form-wrapper" method="POST" action="/searchUsrInfo2">-->

<div class="container">
  <br>
  <br>
  <h2>이름, 전화번호 등으로 검색해보세요</h2>
  <input type="text" class="input_text" name="CUST_NM" id="CUST_NM" placeholder="Name">
  <input type="text" class="input_text" name="PHONE_NO" id="PHONE_NO" placeholder="phone">
  <br>
  <!--<input type="submit" class="input_blue_button" value="검색">-->
  <input type="button" class="input_blue_button" value="검색" id="btn-search">
  <input type="button" href="#layer2" class="btn-custsave" value="고객등록">
  <br>
  <div class="dim-layer">
    <div class="dimBg"></div>
    <div id="layer2" class="pop-layer">
      <div class="pop-container">
        <div class="pop-conts">
          <!--content //-->
          <h3>고객등록</h3>
            <input type="date" class="input_select" name="sDate" id="sDate"  placeholder="신청날짜"><br>
            <input type="text" class="input_text" name="sName" id="sName" placeholder="이름"><br>
            <input type="text" class="input_text" name="sPhone" id="sPhone" placeholder="전화번호"><br>
            <input type="text" class="input_text" name="sBirthYMD" id="sBirthYMD" placeholder="생년월일(YYYYMMDD)"><br>
          <input type="text" class="input_text" name="sIncomeAmt" id="sIncomeAmt" placeholder="소득금액(만원)"><br>
          <input type="text" class="input_text" name="sOutAmt" id="sOutAmt" placeholder="대출금액(만원)"><br>
            <select name="sSalaryDiv" id="sSalaryDiv" class="input_select">
              <option value="">소득구분</option>
              <option value="자영업">자영업</option>
              <option value="직장인">직장인</option>
              <option value="기타">기타</option>
            </select><br>
            <select name="sIngYn" id="sIngYn" class="input_select">
              <option value="">진행여부</option>
              <option value="진행중">진행중</option>
              <option value="완료">완료</option>
              <option value="사기">사기</option>
            </select><br>
            <select name="sCountry"  id="sCountry" class="input_select">
              <option value="">지역</option>
              <option value="서울">서울</option>
              <option value="경기">경기</option>
              <option value="대전">대전</option>
              <option value="대구">대구</option>
              <option value="부산">부산</option>
              <option value="기타">기타</option>
            </select><br>
            <input type="text" class="input_text" name="sMemo" id="sMemo" placeholder="메모"><br>
          </p>
          <div class="btn-r">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <a href="#" class="btn-layerSave" id="btn-layerSave">등록</a>
            <a href="#" class="btn-layerClose">닫기</a>
          </div>
          <!--// content-->
        </div>
      </div>
    </div>
  </div>
  <hr class="hr_st"/>
  <table id="table" class="table table-bordered table-hover">
    <!--
    <thead>
    <tr>
      <th scope="col">기준일자</th>
      <th scope="col">고객명</th>
      <th scope="col">휴대전화번호</th>
      <th scope="col">생년월일</th>
      <th scope="col">소득구분명</th>
      <th scope="col">진행구분명</th>
      <th scope="col">지역명</th>
      <th scope="col">소득금액</th>
      <th scope="col">대출금액</th>
      <th scope="col">메모</th>
    </tr>
    </thead>
    -->
  </table>
  <ul class="pagination" id="pagination"></ul>
</div>
<!--</form>-->
<!-- partial -->
<!--<script type="text/javascript" src="/../../../js/loanAppList/index.js"></script>-->
<script type="text/javascript" src="/../../../js/loanAppList/layerpopup.js"></script>
<script type="text/javascript" src="/../../../js/loanAppList/main.js"></script>
</body>
</html>
