<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Button Hover</title>
   <!-- <link rel="stylesheet" href="./style.css">-->
    <link rel="stylesheet" type="text/css" href="/../../../css/choiceAdminMenu/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="container">
    <div>
    <button class="learn-more" onclick = "location.href = '/loanAppList'">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
        <span class="button-text">데일리 리스트</span>
    </button>
    </div>
    <div>
    <button class="learn-more">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
        <span class="button-text">데일리 체크</span>
    </button>
    </div>
</div>
<!-- partial -->

</body>
</html>