<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>전문가/업체 로그인</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<!--<link rel="icon" type="image/png" href="img/login_vender/icons/favicon.ico"/>-->
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/login_vender/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/login_vender/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/login_vender/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/login_vender/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/login_vender/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/login_vender/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/login_vender/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/login_vender/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/login_vender/util.css">
	<link rel="stylesheet" type="text/css" href="css/login_vender/main.css">
	<!--===============================================================================================-->
</head>
<body>

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
			<!--<form class="login100-form validate-form flex-sb flex-w" method="POST"  action="j_spring_security_check">-->
			<form class="login100-form validate-form flex-sb flex-w" method="POST"  action="/login">
					<span class="login100-form-title p-b-32">
						로그인
					</span>
				<span></span>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<div th:if="${chkVal} == '1'" class="alert alert-danger alert-dismissable text-center" id="loginSucc">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					USERNAME/PASSWORD 를 확인해주세요
				</div>
				<div th:if="${chkVal} == '0'" class="alert alert-danger alert-dismissable text-center" id="loginErr">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					USERNAME/PASSWORD 를 확인해주세요
				</div>
				<br>
				<br>
				<span class="txt1 p-b-11">Username</span>
				<div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
					<input class="input100" type="text" id="username" name="username" >
					<!--<input class="input100" type="text" id="username" name="username" >-->
					<span class="focus-input100"></span>
				</div>
				</span>
				<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
					<input class="input100" type="password" id="password" name="password" >
					<!--<input class="input100" type="password" id="password" name="password" >-->
					<span class="focus-input100"></span>
				</div>

				<div class="flex-sb-m w-full p-b-48">
					<div class="contact100-form-checkbox">
						<!--
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
						-->
						<a href="/signup_vender" class="txt3">
							SignUp
						</a>
					</div>

					<div>
						<a href="#" class="txt3">
							Forgot Password?
						</a>
					</div>
				</div>
				<!--<div th:if="${param.error} and ${session}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION']}">-->
				<div th:if="${param.error} and ${session}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION']}">
					<div class="alert alert-dismissible alert-danger error">
						<span th:text="${errorMsg}">Demo Invalid input</span>
					</div>
				</div>
				<div class="container-login100-form-btn">
					<button type="submit" class="login100-form-btn">
						Login
					</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="vendor/login_vender/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/login_vender/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/login_vender/bootstrap/js/popper.js"></script>
<script src="vendor/login_vender/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/login_vender/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/login_vender/daterangepicker/moment.min.js"></script>
<script src="vendor/login_vender/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/login_vender/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/login_vender/main.js"></script>

</body>
</html>